 <div class="workout">
        <img class="workout" src="{{imageUrl}}" alt="no img">
        <p class="name">{{name}}</p>
        <p><span>Difficulty level:</span> {{difficultyLevel}}</p>
        <a class="btn" href="/details/{{_id}}">Details</a>
</div>