<h1>GymAcademy</h1>
      <div class="about">
        <p>
          <i>"GymAcademy"</i> is a place, where you can browse some of the most popular workout programs and add
          some new training plans you have discovered. This application was created as an exercise after successful graduation from JS-Back-End course.</p>
      </div>